.react-calendar {
	@apply text-white;
}

.react-calendar__tile {
	@apply hover:bg-blue-100;
}

.react-calendar__tile--active {
	@apply bg-blue-500 text-white;
}

/* ~~~ navigation styles ~~~ */
.react-calendar__navigation {
	@apply flex;
}

.react-calendar__navigation__label {
	@apply font-bold;
}

.react-calendar__navigation__arrow {
	@apply flex-grow;
}

/* ~~~ label styles ~~~ */
.react-calendar__month-view__weekdays {
	text-align: center;
}

/* ~~~ button styles ~~~ */
button {
	margin: 3px;
	background-color: #dfdfdf;
	border: 0;
	border-radius: 3px;
	color: white;
	padding: 5px 0;

	&:hover {
		background-color: #dfdfdf;
	}

	&:active {
		background-color: #dfdfdf;
	}
}

/* ~~~ day grid styles ~~~ */
.react-calendar__month-view__days {
	display: grid !important;
	grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%;

	.react-calendar__tile {
		max-width: initial !important;
	}
}

/* ~~~ neighboring month & weekend styles ~~~ */
.react-calendar__month-view__days__day--neighboringMonth {
	opacity: 0.7;
}
.react-calendar__month-view__days__day--weekend {
	color: #dfdfdf;
}

/* ~~~ other view styles ~~~ */
.react-calendar__year-view__months,
.react-calendar__decade-view__years,
.react-calendar__century-view__decades {
	display: grid !important;
	grid-template-columns: 20% 20% 20% 20% 20%;

	&.react-calendar__year-view__months {
		grid-template-columns: 33.3% 33.3% 33.3%;
	}

	.react-calendar__tile {
		max-width: initial !important;
	}
}
