.dual-range * {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	height: 1.5rem;
}
.dual-range {
	display: flex;
	justify-content: center;
	position: relative;
	border: solid 1px gray;
	flex-direction: column;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge,*/
}
.dual-range .bar {
	display: flex;
	align-items: center;
}
.dual-range .bar-left {
	width: 25%;
	height: 0.5rem;
	border-radius: var(--rounded-box, 1rem /* 16px */);
	background-color: var(--fallback-bc, oklch(var(--bc) / 0.1));
}
.dual-range .bar-right {
	width: 25%;
	height: 0.5rem;
	border-radius: var(--rounded-box, 1rem /* 16px */);
	background-color: var(--fallback-bc, oklch(var(--bc) / 0.1));
}
.dual-range .bar-inner {
	background-color: var(--fallback-bc, oklch(var(--bc) / 1));
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	justify-content: space-between;
	position: relative;
}
.dual-range .bar-inner-left {
	width: 50%;
}
.dual-range .bar-inner-right {
	width: 50%;
}
.dual-range .thumb {
	background-color: var(--fallback-b1, oklch(var(--b1) / var(--tw-bg-opacity)));
	position: relative;
	z-index: 1;
	cursor: pointer;
}
.dual-range .thumb::before {
	content: "";
	background-color: inherit;
	position: absolute;
	width: 1.5rem;
	height: 1.5rem;
	border-color: var(--fallback-bc, oklch(var(--bc) / 1));
	border-radius: var(--rounded-box, 1rem /* 16px */);
	border-style: solid;
	border-width: 0.2rem;
	right: -0.75rem;
	z-index: 1;
	/* margin: -8px -12px; */
	cursor: pointer;
	box-shadow:
		0 0 0 3px var(--range-shdw) inset,
		var(--focus-shadow, 0 0),
		calc(var(--filler-size) * -1 - var(--filler-offset)) 0 0 var(--filler-size);
}
.dual-range .input-type-range:focus + .thumb::after {
	content: "";
	position: absolute;
	top: -4px;
	left: -7px;
	width: 11px;
	height: 11px;
	z-index: 2;
	border-radius: 50%;
	border: dotted 1px black;
	box-shadow:
		0px 0px 5px white,
		inset 0px 0px 10px black;
}
.dual-range .caption {
	position: absolute;
	bottom: 35px;
	width: 2px;
	height: 2px;
	left: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: visible;
	display: none;
}
.dual-range .thumb .caption * {
	position: absolute;
	min-width: 30px;
	height: 30px;
	font-size: 75%;
	text-align: center;
	line-height: 30px;
	background-color: blue;
	border-radius: 15px;
	color: white;
	box-shadow: 0px 0px 5px black;
	padding: 0px 5px;
	white-space: nowrap;
}
.dual-range .thumb:active .caption {
	display: flex;
}
.dual-range .input-type-range:focus + .thumb .caption {
	display: flex;
}
.dual-range .input-type-range {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	opacity: 0;
	pointer-events: none;
}

.dual-range .ruler {
	margin: 10px 0px -5px 0px;
	display: flex;
	/* display: none; */
	overflow: hidden;
}
.dual-range .ruler .ruler-rule {
	border-left: solid 1px;
	border-bottom: solid 1px;
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	padding: 5px 0px;
}
.dual-range .ruler .ruler-rule:last-child {
	border-right: solid 1px;
}

.dual-range .ruler .ruler-sub-rule {
	border-left: solid 1px;
	/* border-bottom: solid 1px; */
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	padding: 3px 0px;
	bottom: 0px;
	margin-bottom: -5px;
}
.dual-range .ruler .ruler-sub-rule:first-child {
	border-left: none;
}

.dual-range .labels {
	display: flex;
	justify-content: space-between;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: -20px;
	/* display: none; */
}
.dual-range .label {
	font-size: 80%;
	display: flex;
	width: 1px;
	justify-content: center;
}
.dual-range .label:first-child {
	justify-content: start;
}
.dual-range .label:last-child {
	justify-content: end;
}
.dual-range.zero-ranage-margin .thumb-left {
	right: 12px;
}
.dual-range.zero-ranage-margin .thumb-right {
	left: 8px;
}

/* Disabled */
.dual-range.disabled {
	border: solid 1px rgb(200, 200, 200);
	box-shadow: 1px 1px 4px rgb(180, 180, 180);
	color: rgb(180, 180, 180);
}
.dual-range .bar {
	display: flex;
}
.dual-range.disabled .bar-left {
	background-color: #c9c9c9;
	box-shadow: inset 0px 0px 5px rgb(160, 160, 160);
}
.dual-range.disabled .bar-right {
	background-color: #c9c9c9;
	box-shadow: inset 0px 0px 5px rgb(160, 160, 160);
}
.dual-range.disabled .bar-inner {
	background-color: rgb(130 243 130);
	border: solid 1px rgb(149, 149, 149);
	box-shadow: inset 0px 0px 5px rgb(103, 103, 103);
}
.dual-range.disabled .thumb {
	background-color: white;
}
.dual-range.disabled .thumb::before {
	border: solid 1px rgb(200, 200, 200);
	box-shadow:
		0px 0px 3px rgb(35, 35, 35),
		inset 0px 0px 5px gray;
}
.dual-range.disabled .input-type-range:focus + .thumb::after {
	border: dotted 1px rgb(35, 35, 35);
	box-shadow:
		0px 0px 5px white,
		inset 0px 0px 10px rgb(35, 35, 35);
}
.dual-range.disabled .thumb .caption * {
	background-color: rgb(84, 84, 137);
	color: rgb(199, 199, 199);
	box-shadow: 0px 0px 5px rgb(35, 35, 35);
}
